* {
    margin: 0px;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

footer {
    margin: 30px;
    background-color: #D7E0EF;
    border-radius: 40px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    
}



.redesIconos {
    list-style: none;
    padding: 10px;
}

.contenedor {
    margin: 5px;
    padding: 20px;
    text-align: center;
}